<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>QUIZ'o'FEST</h1>

(NEW USER)

<form action = '/signup' method = 'post'>{% csrf_token %}
    Email ID:
    <input type="email" name="email" id="email" placeholder="Email ID" ></br></br>
    Password:
    <input type="password" name="pwd" id="pwd" placeholder="Password"></br></br>
    <button type = 'submit'> Register! </button>
    <br>
</form>
</br></br>

(Existing User)
<h1><a href="/login">LOGIN!</a></h1>

</body>
</html>