<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/add" method = "post" >{% csrf_token %}
    <input type = "text" name = "product" id ="product" >
    <input type = "text" name = "price" id = "price">
    <button type = 'submit' >ADD!</button>
</form></br></br>

<form action="/upd" method = "post">{% csrf_token %}
    <input type = "text" name = "product" id ="product">
    <input type = "text" name = "price" id = "price">
    <button type = 'submit' >UPDATE!</button>
</form></br></br>
<form action="/dele" method = "post">{% csrf_token %}
    <input type = "text" name = "product" id ="product" >
    <button type = 'submit' >DELETE!</button>
</form></br></br>
<button  type = 'submit'><a href="/showlist">SHOW LIST!</a> </button>
</body>
</html>